body {
    background: url('https://steelguru.com/uploads/news/pan-american-silver-coronavirus-covid-19_4152.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.container{
    margin-top: 2%;
    width: 35%;
    margin-bottom: 2%;
}
#date{
    background-color: #4772A7;
    text-align: center;
}

#recovered,#deaths,#confirmed{

    background-color: aliceblue;
}
input{
    text-align: center;
}
div{
    align-items: center;


}

